<h1>{{antihero.antiheroName}}</h1>
<img src="{{antihero.image}}" alt="{{antihero.heroName}}" style="max-width: 150px; display:block; margin-bottom:20px;">
<p><strong>Real Name:</strong> {{antihero.realName}}</p>
<p><strong>Power:</strong> {{antihero.power}}</p>
<p><strong>Origin:</strong> {{antihero.origin}}</p>
<a href="/">Back to List</a>
