<h1>Superheroes & Antiheroes</h1>
<p>
    <a href="/newSuperhero">Add a New Superhero</a> |
    <a href="/antiheroes/new">Add a New Villain</a>
</p>

<div class="container">
    <div class="column">
        <h2>Superheroes</h2>
        <ul>
            {{#each superheroes}}
                <li>
                    <a href="/superhero/{{id}}">
                        <strong>{{heroName}}</strong>
                    </a> ({{realName}}) - Superpower: {{superpower}}, Origin: {{origin}}
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="column">
        <h2>Villain</h2>
        <ul>
            {{#each antiheroes}}
                <li>
                    <a href="/antiheroes/{{id}}">
                        <strong>{{antiheroName}}</strong>
                    </a> ({{realName}}) - Power: {{power}}, Origin: {{origin}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
